@media screen and (max-width: 2560px) {
    .jumbotron {
        background: url(/img/jumbotron/jumbotron.svg) center no-repeat;
        background-size: cover;
        padding-top: 84px;
        padding-bottom: 160px;
    }

    .jumbotron-container {
        margin: 0 auto;
        max-width: 1110px;
    }

    .jumbotron__description {
        color: #fff;
        font-size: 72px;
        text-align: center;
        margin-top: 160px;
    }
}

@media screen and (max-width: 1440px) {
    .jumbotron {
        background: url(/img/jumbotron/jumbotron.svg) center no-repeat;
        background-size: cover;
        padding-top: 84px;
        padding-bottom: 160px;
    }

    .jumbotron-container {
        margin: 0 auto;
        max-width: 1110px;
    }

    .jumbotron__description {
        color: #fff;
        font-size: 72px;
        text-align: center;
        margin-top: 160px;
    }
}

@media screen and (max-width: 1024px) {
    .jumbotron {
        background: url(/img/jumbotron/jumbotron.svg) center no-repeat;
        background-size: cover;
        padding-top: 84px;
        padding-bottom: 160px;
    }

    .jumbotron-container {
        margin: 0 auto;
        max-width: 900px;
    }

    .jumbotron__description {
        color: #fff;
        font-size: 72px;
        text-align: center;
        margin-top: 160px;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron {
        background: url(/img/jumbotron/jumbotron.svg) center no-repeat;
        background-size: cover;
        padding-top: 84px;
        padding-bottom: 160px;
    }

    .jumbotron-container {
        margin: 0 auto;
        max-width: 600px;
    }

    .jumbotron__description {
        color: #fff;
        font-size: 72px;
        text-align: center;
        margin-top: 160px;
    }
}